version = "2"

[linters]
default = "all"
disable = [
  # objectively gross, literally nobody wants this
  "exhaustruct",

  # needs explicit configuration
  "depguard",

  # deprecated
  "wsl",

  # G703 and G704 can't see our sanitizers for some reason.
  # Turn this back on when we figure that out.
  "gosec",

  # Fix me first
  "funlen",

  # things we don't care about at the moment
  "gochecknoglobals",
  "nonamedreturns",
  "varnamelen"
]

[formatters]
enable = [
  "gofmt",
  "goimports"
]
